name: Build and Test
permissions:
  contents: read
  pull-requests: write
on:
  push:
    branches:
      - feature/**
  pull_request:
    branches:
      - feature/**
  workflow_call:
  workflow_dispatch:

jobs:
  test:
    runs-on: macos-latest
    environment: test

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Set up JDK 21
        uses: actions/setup-java@v2
        with:
          distribution: "temurin"
          java-version: "21"

      - name: Build environment configuration
        uses: ./.github/actions/mobuild-envuscator
        with:
          config: ${{ secrets.APP_CONFIG }}
          token: ${{ secrets.ENVUSCATOR_PAT }}

      - name: Run Gradle Tests
        run: ./gradlew test
